i{font-size: 30px;color: aquamarine;font-family: Arial, Helvetica, sans-serif;}
#inicio{color: aquamarine;font-family: Arial, Helvetica, sans-serif;font-size: 20px;}
#co{color: aquamarine;font-family: Arial, Helvetica, sans-serif;font-size: 20px;}
#so{color: aquamarine;font-family: Arial, Helvetica, sans-serif;font-size: 20px;}
#lo{color: aquamarine;font-family: Arial, Helvetica, sans-serif;font-size: 20px;}
#po{color: aquamarine;font-family: Arial, Helvetica, sans-serif;font-size: 20px;}
#to{color: aquamarine;font-family: Arial, Helvetica, sans-serif;font-size: 20px;}
#go{color: aquamarine;font-family: Arial, Helvetica, sans-serif;font-size: 20px;}
#ill{color: aquamarine;font-family: Arial, Helvetica, sans-serif;font-size: 20px;}